.Main
{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	padding: 0;
	outline: none;
	width: 100%;
	height: 100%;

    //background-color: #AB8282;
    box-shadow:25px -25px 60px 60px rgba(0,0,0,0.5) inset;	
	overflow: hidden;
}

.monster, .monster > */* use uncapitalised name for classes or that do no represent a View or Phase class 1:1 */
{
	position: absolute;
	left: 0px;
	top: 0px;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.ThoughtBubble /* use capitalised name for classes that do represent a View or Phase class 1:1 */
{
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 54px;
	height: 59px;
	
	background-image: url("./Assets/ThoughtBubble.png") no-repeat;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}